body {
    font-family: arial, sans-serif;
    padding: 10px 10px;
    background: url('green_felt.jpg');
    text-align: center;
}

.form-table {
    border: none;
    padding: 3px;
}
.falsic {
    display: inline;
}
.falsic:after {
    content: "Ƒ";
    color: red;
}

.form-table td {
    padding-top: 5px;
    vertical-align: top;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

.validation-error {
    color: red;
}

.my-navbar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-basis: 140px;
    background-color: #f1f1f1;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
}
.col-md-4 {
    height: 100%;
    vertical-align: center;
    font-family: monospace;
    font-size: 13pt;
}

.content {
    margin: 5px;
}
.footer {
    bottom: 0%;
    position: fixed;
    text-align: center;
    background-color: #f1f1f1;
    padding: 5px;
    left: 0;
    width: 100%;
}

.footer-height {
    height: 20px;
}

.self-name {
    font-weight: bold;
}

.game-name {
    font-family: monospace;
    font-size: 13pt;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}