.window {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}
.body {
  padding: 10px 10px;
  background: url('../green_felt.jpg');
  text-align: center;
}
.half{
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}



.table_cont{
  height: 400px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

.players {
  text-align: center;
  display: table;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  height: 400px;
  width: 90%;
  overflow: scroll;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;

}

#players td, #players th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 300px;
}

#players tr:nth-child(even){background-color: #f2f2f2;}

#players tr:hover {background-color: #ddd;}

#players th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: #006400;
  color: white;
  position: sticky; top: 0;
  text-align: center;
}

.log {
    height: 400px;
    width: 90%;
    border-radius: 5px;
    border: 2px solid black;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
}


.log_body{
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  text-align: flex-start;
}

.green_text {
    color: #0f2901;
}

.red_text {
    color: darkred;
}

.blue_text {
    color: darkblue;
}