.window{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%
}

.players{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.player {
  border: solid 1px;
}
.player.is_offline {
  border-color: red;
}

.head .status{
  width: 200px;
}

.hand{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
}

.card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 120px;
  height: 180px;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  font-size: 1vw;
  border: 5px solid transparent;
}

.card_defence{
  background-color: lightgreen;
  border-color: green;
}

.card_offence{
  background-color: #face8d;
  border-color: red;
}

.card_accident{
  background-color: lightblue;
  border-color:  blue;
}

.card_gray{
  background-color: #c0c0c0;
  border-color: #808080;
}

.card_selected{
  border-width: 10px;
}

.center{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.table{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-around;
}

.attack{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.attack_header{
  height: 20px;
  text-align: center;
  background-color: #cccccc;
}

.defence{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.defence_header{
  height: 20px;
  text-align: center;
  background-color: #cccccc;
}

.defence_cards{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 650px;
  height: 360px;
}

.small_card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100px;
  height: 150px;
  padding: 4px;
  text-align: center;
  border-radius: 20px;
  font-size: 1vw;
}

.small_card_defence{
  background-color: lightgreen;
  border: 4px solid green;
}

.small_card_offence{
  background-color: #face8d;
  border: 4px solid red;
}

.small_card_accident{
  background-color: lightblue;
  border: 4px solid blue;
}


.log{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 250px;
  height: 300px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
}

.log_header{
  height: 20px;
  text-align: left;
  background-color: #cccccc;
}

.log_body{
  overflow-y: scroll;
  text-align: center;
}