.window{
  justify-content: space-around;

  text-align: justify;
}
.window-row {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.is_offline .player-name:after {
  content: " ☒";
}
.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%
}
.budget {
  font-family: monospace;
  font-size: 1.2em;
}
.players{
  /*display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;*/
  padding-top: 10px;
  min-width: 90px;
}

.blue {
  color:blue;
}

.darkred {
  color: darkred;
}
.darkgreen {
  color: darkgreen;
}
.players .table-icon {
  margin-bottom: 9px;
}
.player {
  border: solid 1px;
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 4px;
}

.player.is_selected{
  background-color: #86dcFF;
  border-color: blue;
}

.player.is_offline {
  border-color: red;
  background-color: #ffAAAA;
}
.player.can_attack {
  cursor: url("/static/cursors/sword.cur"), default;
}

.head .status{
  width: 200px;
}

.hand{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 120px;
  height: 180px;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  font-size: 1em;
  border: 5px solid transparent;
  hyphens: auto;

}

.card_defence{
  background-color: lightgreen;
  border-color: green;
}

.card_offence{
  background-color: #face8d;
  border-color: red;
}

.card_accident{
  background-color: lightblue;
  border-color:  blue;
}

.card_gray{
  border-color: #808080;
}

.card_selected{
  border-width: 10px;
}

.center{

}

.window-cell {
  padding: 10px;
}

.table{
  width: 70%;

}

.against{
  display: flex;
  flex-direction: column;
}

.table {
  display: flex;
}

.attack{
  justify-content: space-between;


}
.table-icon {
  font-size:3em;
  text-align: center;

  bottom: 0%;
  width: 100%;
}
.smaller {
  font-size: 2.2em !important;
}

.defence{
  justify-content: space-between;
  flex: 1;
}
.separator {
  border-left: 1px solid black;
  width: 2px;
  margin: 10px;
  height: 100%;
}

.defence_cards{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

.small_card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 150px;
  height: 200px;
  padding: 4px;
  text-align: center;
  border-radius: 20px;
  font-size: 0.8em;
  hyphens: auto;
}

.small_card_defence{
  background-color: lightgreen;
  border: 4px solid green;
}

.small_card_offence{
  background-color: #face8d;
  border: 4px solid red;
}

.small_card_accident{
  background-color: lightblue;
  border: 4px solid blue;
}


.log{
  width: 250px;
  height: 300px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid black;
}

.log_header{
  height: 20px;
  text-align: left;
  background-color: #cccccc;
}

.log_body{
  overflow-y: scroll;
  text-align: center;
}