.admin_player {
    background-color: #008B8B;
    border-radius: 5px;
    font-weight: bold;
}
.body {
  padding: 10px 10px;
  background: url('../green_felt.jpg');
  text-align: center;
}
/* Style the tab content */
.waitroom-main {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 6px 12px;
    border: 1px solid #ccc;
    display: inline-block;
    text-align: left;
    min-width: 500px;
}

.player-name {
    display: inline;
    margin: 0px;
    padding-left: 20px;
    background-image: url('../images/player_small.png');
    background-repeat: no-repeat;
}

.waitroom-container {
    text-align: center;
    padding: 6px 12px;
}