{% extends 'layout.html' %}
{{ super() }}
{% block extrahead %}
    <link rel="stylesheet" href="{{ url_for("static", filename="mod_game/endgame.css") }}">
{% endblock %}
{% block content %}
    <script src="../static/vue.js"></script>
    <script src="../static/renderjson.js"></script>
    <script src="{{ url_for('static', filename='mod_game/game.js') }}"></script>
    <script src="{{ url_for('static', filename='mod_game/log.js') }}"></script>

<div id="app">
    <h1 style="text-align:center;">РЕЗУЛЬТАТЫ ИГРЫ</h1>
    <div v-if="!is_game_loaded">Loading...</div>
        <div class="window" v-else>
            <div class="half">
                <h2 class="center">Таблица участников:</h2>
                <div class="table_cont">
                    <table id="players" style="margin-left:auto;margin-right:auto;">
                      <tr>
                        <th>Игрок</th>
                        <th>Оставшиеся фолзики</th>
                      </tr>
                          <tr v-for="player in players_list" :key="player.id">
                              <td>[[player.name]]</td>
                              <td>[[player.money]]</td>
                          </tr>
                    </table>
                </div>

            </div>
            <div class="half">
                <h2 style="text-align:center;">Лог битвы:</h2>
                <log  :log="log" :players="players_list" :cards="cards"> </log>
                <img  src="{{ url_for('static', filename='mod_game/keyboard.png') }}" width="250px">
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                is_game_loaded: false,
                game_name: '',
                round_no: 0,
                players_list: [],
                cards: [],
                log: [],
            },
            created() {
                socket.emit('cards');
                socket.emit('endgame_state');
                socket.emit('log',0);

                socket.on('log', (data) => {
                    this.log = data.value;
                });

                socket.on('cards', (data) => {
                    const cards = data.value;
                    this.cards = {};

                    for (i of cards) {
                        this.cards[i.id] = i;
                    }
                });

                socket.on('endgame_state', (data) => {
                    console.log('endgame_state', data);
                    const game_data = data.value.game;
                    this.game_name = game_data.game_name;
                    this.round_no = game_data.round_no;
                    document.getElementById('round-no').innerText = game_data.round_no;
                    this.players_list = [];
                    this.self_player = game_data.self_player;


                    for (player of game_data.players) {
                        const {id, name, money, is_online} = player;
                        this.players_list.push({
                            id, name, money });
                    }
                    this.players_list.sort(function(a,b){
                    if (a.money < b.money)
                        return 1
                    if (a.money > b.money)
                        return -1
                    return 0
                    });
                    console.log('sorted', this.players_list);

                    this.is_game_loaded = true;
                });

                socket.on('connect', function () {
                     socket.emit('endgame_state');
                });


            },
            methods: {

                get_username_by_id(id) {
                    player = this.players_list.filter(obj => {
                        return obj.id === id
                    });
                    if (player && player.length > 0) {
                        return player[0].name;
                    } else {
                        return undefined;
                    }
                },
            }
        })
    </script>
{% endblock %}