{% extends 'layout.html' %}
{{ super() }}
{% block extrahead %}
<link rel="stylesheet" href="{{ url_for("static", filename="mod_game/game.css") }}">
{% endblock %}
{% block content %}
    <script src="../static/vue.js"></script>
    <script src="../static/renderjson.js"></script>
    <script src="{{ url_for('static', filename='mod_game/game.js') }}"></script>
    <script>socket.emit('state')</script>

    <div id="app">
        <div v-if="!is_game_loaded">Loading...</div>
        <div class="window" v-else>
            <div class="head">
                <div v-for="player in players_list" :key="player.id" class="players">
                    <div :class="{
                        player: true,
                        is_offline: !player.is_online
                    }">
                        Игрок: [[player.name]]<br>
                        Бюджет: [[player.money]]
                    </div>
                </div>
                <div class="status">
                    Игра: [[game_name]]<br>
                    Номер раунда: [[round_no]]<br>
<!--                    Карт в колоде: [[deck_count]]<br>-->
                </div>
            </div>

            <div class="center">
                <div class="table">
                    <div class="attack">
                        <div class="attack_header">
                            Атакующая карта:
                        </div>

                        <div class="small_card small_card_offence">

                        </div>
                    </div>
                    <div class="defence">
                        <div class="defence_header">Защитные карты:</div>
                        <div class="defence_cards">
                            <div class=" small_card small_card_defence"></div>
                            <div class=" small_card small_card_defence"></div>
                            <div class=" small_card small_card_defence"></div>
                            <div class=" small_card small_card_defence"></div>
                            <div class=" small_card small_card_defence"></div>
                            <div class=" small_card small_card_defence"></div>
                            <div class=" small_card small_card_defence"></div>
                        </div>
                    </div>
                </div>

                <div class="log">
                    <div class="log_header">События в игре:</div>
                    <div class="log_body">
<!--                        [[get_battle_list()]]-->
                    </div>
                </div>
            </div>

            <div  class="hand">
                <div v-for="card in hand"
                     :key="card.index"
                     :class="{
                        card: true,
                        card_offence: card.type,
                        card_defence: !card.type,
                        card_gray: !card.can_play,
                        card_selected: card.is_selected
                     }" @click="choose_card(card.index, 1)">
<!--                    TODO!!! get 0 or 1 from data-->
                    [[card.name]][[card]]
                </div>
            <button @click="send_selected_card">Отправить</button>
            </div>
        </div>
    </div>
    <script>
        new Vue({
          el: '#app',
          delimiters: ['[[', ']]'],
          data: {
             selected_card: -1,
             is_game_loaded: false,
             game_name: '',
             round_no: 0,
             hand: [],
             players_list: []
          },
          created() {
            socket.on('log', (data) => {
               console.log(data)
            })

            socket.on('upd', function () {
                console.log('here I emit state');
                socket.emit('state');
            })

            socket.on('play', () => {
               socket.emit('state')
            })

            socket.on('state', (data) => {
               const game_data = data.value.game
               this.game_name = game_data.game_name
               this.round_no = game_data.round_no
               this.selected_card = []

               this.players_list = []
               this.hand = []

               for (i in game_data.hand) {
                  const { id, can_play, name, text, type } = game_data.hand[i]
                  this.hand.push({
                     index: i,
                     id,
                     can_play,
                     name,
                     text,
                     type,
                     is_selected: false,
                  })
               }

               for (player of game_data.players) {
                  const { id, name, money, is_online } = player
                  this.players_list.push({
                     id, name, money, is_online
                  })
               }

               console.log(game_data)
               this.is_game_loaded = true
            })

            socket.on('connect', function() {
                socket.emit('state')
            })
          },
          methods:{
            get_data() {
              socket.emit('state')
            },

            choose_card(index, type) {
            //console.log(index)
            console.log(this.hand[index].type, type, index)
              if (this.hand[index].type != type) {
                alert('You can not choose this card')
                return
              }
              if (type == 1 ){
                this.hand.forEach(card => card.is_selected = false)
                this.selected_card = [this.hand[index].index]
                this.hand[index].is_selected = true
              }
              else if (this.selected_card.some(i => index == i )){
                this.hand[index].is_selected = false;
                this.$delete(this.selected_card, this.selected_card.indexOf(index))
              }
              else{
                this.hand[index].is_selected = true
                this.selected_card.push(this.hand[index].index)
              }
            },

            send_selected_card () {
              if (this.selected_card.length == 0) {
                alert('You must choose card')
                return
              }

              console.log(this.selected_card.map(index => this.hand[index].id))
             // TODO socket.emit('play', this.selected_card)
             // socket.emit('state')
            }
          }
        })
    </script>
{% endblock %}