{% extends 'layout.html' %}
{{ super() }}
{% block extrahead %}
<link rel="stylesheet" href="{{ url_for("static", filename="mod_game/game.css") }}">
{% endblock %}
{% block content %}
    <script src="../static/vue.js"></script>
    <script src="../static/renderjson.js"></script>
    <script src="{{ url_for('static', filename='mod_game/game.js') }}"></script>

    <div id="app">
        <div class="window">
            <div class="head">
                <div v-for="player in get_players_list()" :key="player.name" class="players">
                    <div>
                        Игрок: [[player.name]]<br>
                        Бюджет: [[player.money]]
                    </div>
                </div>
                <div class="status">
                    Игра: [[get_game_name()]]<br>
                    Номер раунда: [[get_round_no()]]<br>
                    Карт в колоде: [[deck_count]]<br>
                </div>
            </div>

            <div class="center">
                <div class="table">
                    <div class="attack">
                        <div class="attack_header">
                            Атакующая карта:
                        </div>

                        <div class="card card_offence">

                        </div>
                    </div>
                    <div class="defence">
                        <div class="defence_header">Защитные карты:</div>
                        <div class="defence_cards">
                            <div class=" card card_defence"></div>
                            <div class=" card card_defence"></div>
                            <div class=" card card_defence"></div>
                            <div class=" card card_defence"></div>
                            <div class=" card card_defence"></div>
                            <div class=" card card_defence"></div>
                        </div>
                    </div>
                </div>

                <div class="log">
                    <div class="log_header">События в игре:</div>
                    <div class="log_body">
                        [[get_battle_list()]]
                    </div>
                </div>
            </div>

            <div  class="hand">
<!--                <div v-for="card in get_my_hand()" :key="card.name" class="card" :class="'card_' + card.type">-->
                <div v-for="card in get_my_hand()" :key="card.name" class="card" :class="'card_' + card.type">
                    [[card.name]]
                </div>
            </div>
        </div>
    </div>

    <script>
        var onevent = socket.onevent;
        socket.onevent = function (packet) {
            var args = packet.data || [];
            onevent.call(this, packet);    // original call
            packet.data = ["*"].concat(args);
            onevent.call(this, packet);      // additional call to catch-all
        };
        socket.on('state', function (data) {
            app.data = data;
        });
        socket.on('log', function (data){
            console.log("SOCKET ON LOG");
            app.battles = data;
        });
        socket.on('connect', function() {
            socket.emit('state');
        });
        socket.on('upd', function () {
            socket.emit('state');
        });

        const app = new Vue({
            el: '#app',
            data: {
                players: [],
                ready: false,
                data: "",
                battles: [],
            },
            delimiters: ['[[', ']]'],
            methods:{
                get_game_name: function () {
                    if ( this.data ){
                        return this.data.value.game.game_name;
                    }
                },
                get_players_list: function(){
                    console.log(this);
                    if ( this.data ){
                        return this.data.value.game.players;
                        }
                },
                get_my_hand: function () {
                    if ( this.data ){
                        return this.data.value.game.hand;
                    }
                },
                get_round_no: function () {
                    if(this.data){
                        return this.data.value.game.round_no;
                    }
                },
                get_battle_list: function () {
                    console.log("getBATTLE");
                    console.log(this);
                    if (this.battles && this.battles.value){
                        return this.battles.value.battles;
                    }
                },
            }
        });


    </script>
{% endblock %}