<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="../static/vue.min.js"></script>
    <script src="{{ url_for('static', filename='common.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="instruction.css") }}">
{% block extrahead %}{% endblock %}
{% block content %}
    <meta charset="UTF-8">

    <div id="toc_container">
    <p class="toc_title">Содержание</p>
      <ul class="toc_list">
          <li><a href="instruction">Правила игры</a></li>
        <li><a href="#attacks">Карты атаки</a>
          <ul>
            <li><a href="#attack_ransome">Шифровальщик</a></li>
            <li><a href="#attack_keylogger">Кейлоггер</a></li>
            <li><a href="#attack_rce">Удаленное выполнение кода</a></li>
            <li><a href="#attack_phishing">Фишинг</a></li>
            <li><a href="#attack_wiretapping">Прослушка</a></li>
            <li><a href="#attack_wi-fi">Перехват пакетов Wi-Fi</a></li>
            <li><a href="#attack_macro">Выполнение макросов</a></li>
            <li><a href="#attack_bruteforce">Ваш пароль взломали перебором</a></li>
            <li><a href="#attack_outdated">Устаревшее ПО</a></li>
            <li><a href="#attack_botnet">Вы попали в ботнет</a></li>

          </ul>
        </li>

        <li><a href="#defs">Карты защиты</a></li>
          <ul>
            <li><a href="#def_antivirus">Антивирус</a></li>
            <li><a href="#def_2fa">Двухфакторная аутентификация</a></li>
            <li><a href="#def_passwords">Сложные пароли</a></li>
            <li><a href="#def_vpn">Использование VPN</a></li>
            <li><a href="#def_encryption">Полнодисковое шифрование</a></li>
            <li><a href="#def_updates">Регулярные обновления</a></li>
            <li><a href="#def_license">Лицензионное ПО</a></li>
            <li><a href="#def_messenger">Надежные мессенджеры</a></li>
            <li><a href="#def_caution">Пользовательская осторожность</a></li>
            <li><a href="#def_https">Использование HTTPS</a></li>
            <li><a href="#def_backups">Регулярные бэкапы</a></li>
            <li><a href="#def_digsig">Цифровая подпись и шифрование писем</a></li>
          </ul>
        <li><a href="#accidents">Карты случайности</a></li>
          <ul>
              <li><a href="#accident_0day">Уязвимости нулевого дня</a></li>
              <li><a href="#accident_leak">Взлом серверов и утечка паролей</a></li>
              <li><a href="#accident_backdoors">Железные бэкдоры</a></li>
              <li><a href="#accident_cataclysm">Катаклизмы</a></li>
              <li><a href="#accident_steal">Кража ноутбука</a></li>
              <li><a href="#accident_blocking">Блокировка доступа к ресурсам</a></li>
              <li><a href="#accident_covid">COVID-19</a></li>
          </ul>
      </ul>
    </div>
<h2 id="defs">Карты защиты</h2>
<h3 id="def_antivirus">Антивирус</h3>
<b>Количество карт в колоде: 9</b> <br>
<b>Защищает от:</b>
<ul>
    <li>Шифровальщик +3Ƒ</li>
    <li>Кейлоггер +3Ƒ</li>
    <li>Удаленное выполнение кода +2Ƒ</li>
    <li>Выполнение макросов +2Ƒ</li>
    <li>Вы попали в ботнет +2Ƒ</li>
    <li>Посредственный фишинг +1Ƒ</li>
    <li>Подготовленный фишинг +1Ƒ</li>
    <li>Целенаправленный фишинг +1Ƒ</li>
</ul><br>
Антивирус дает целый ряд преимуществ в вопросах защиты от злонамеренных действий. Во-первых, это регулярно обновляемые
сигнатуры, во-вторых, так называемая песочница -- изолированная среда, в которой запускаются приложения. Она позволяет
проследить, не выполняет ли приложение каких-то действий, которые могут навредить пользователю.
<br>
<br>

<h3 id="def_2fa">Двухфакторная аутентификация</h3>
<b>Количество карт в колоде: 8</b> <br>
<b>Защищает от:</b>
<ul>
    <li>Посредственный фишинг +3Ƒ</li>
    <li>Подготовленный фишинг +3Ƒ</li>
    <li>Целенаправленный фишинг +3Ƒ</li>
    <li>Ваш пароль взломали перебором +2Ƒ</li>
    <li>Взлом серверов и утечка паролей +2Ƒ</li>
    <li>Кража ноутбка +2Ƒ</li>
</ul>
<br>
Существует множество способов, каким образом злоумышленник может получить Ваш пароль: он может отправить Вам фишинговую
ссылку, найти Ваш пароль в базах утечек или узнать его еще каким-либо образом. Однако если аккаунт защищен вторым
фактором аутентификации, то для входа в него знания одного лишь пароля недостаточно: для успешной атаки злоумышленнику
надо заполучить доступ и ко второму ключу, а это зачастую гораздо сложнее.
<br>
Узнайте о том, как настроить второй фактор для Вашего Gmail из материалов Теплицы:
<br>
<a href="https://te-st.ru/2015/06/04/2-step-google-account-screencast/">Как включить двухэтапную аутентификацию для аккаунтов Google</a>
<br>
<br>

<h3 id="def_passwords">Сложные пароли</h3>
<b>Количество карт в колоде: 8</b> <br>
<b>Защищает от:</b>
<ul>
    <li>Ваш пароль взломали перебором +3Ƒ</li>
</ul><br>
Использование простых паролей может серьезно облегчить злоумышленнику задачу проведения на Вас атаки. Под простыми
паролями понимаются словарные, номера телефонов, пароли, каким-либо образом связанные с Вами и Вашей жизнью, то есть
такие, которые можно просто угадать. К примеру, ставить в качестве пароля имя Вашей собаки и дату Вашего рождения - не
лучшая идея.
<br>
<br>

<h3 id="def_encryption">Полнодисковое шифрование</h3>
<b>Количество карт в колоде: 8</b> <br>
<b>Защищает от:</b>
<ul>
    <li>Кража ноутбука +2Ƒ</li>
</ul><br>
Если Ваш ноутбук попадет в чужие руки, это само по себе неприятно, но многие люди полагаются на то, что он защищен
паролем. Однако даже это не спасет, если не зашифрован диск, поскольку его могут снять и физически подключить к другому
устройству, пароль от которого злоумышленники будут знать. И тогда все Ваши данные будут для них легко доступны.
<br>
Узнайте, есть ли в Вашем устройстве специальный криптографический модуль, который позволяет осуществлять шифрование
данных с легкостью, прочитав материал Теплицы:<br>
<a href="https://te-st.ru/2020/05/29/tpm/">TPM модуль</a>
<br>
<br>

<h3 id="def_vpn">Использование VPN</h3>
<b>Количество карт в колоде: 8</b> <br>
<b>Защищает от:</b>
<ul>
    <li>Перехват пакетов Wi-Fi +3Ƒ</li>
    <li>Блокировка доступа к ресурсам +2Ƒ</li>
</ul><br>
VPN (Virtual Private Network) - технология, которая обеспечивает безопасное, шифрованное соединение между двумя сетями.
Говоря простым языком, VPN позволяет зашифровать все Ваши запросы, даже если ресурс, к которому Вы обращаетесь, не
поддерживает сертификаты безопасности. Кроме того, если сервер находится в стране, отличной от Вашего местопребывания,
то Вы сможете с его помощью получить доступ к ресурсам, недоступным в Вашей стране.
<br>
Подробнее узнать о VPN можно из видеоматериала Теплицы:
<a href="https://te-st.ru/2015/08/05/na-vpn-screencast/">VPN</a>
<br>
<br>

<h3 id="def_updates">Регулярные обновления</h3>
<b>Количество карт в колоде: 8</b> <br>
<b>Защищает от:</b>
<ul>
    <li>Устаревшее ПО +3Ƒ</li>
    <li>Удаленное выполнение кода +2Ƒ</li>
    <li>Шифровальщик +1Ƒ</li>
    <li>Уязвимости нулевого дня +2Ƒ</li>
</ul><br>
Производители программного обеспечения стараются внимательно следить за всеми ошибками и уязвимостями в своих продуктах,
которые могут найти они сами или информация о которых появляется в сети. И стараются как можно быстрее выпустить
обновления, содержащие патчи - небольшие кусочки кода, которые исправляют эти уязвимости. Поэтому все программное
обеспечение должно своевременно обновляться, ведь зачастую злоумышленнику достаточно и пяти минут, чтобы использовать
уязвимость, которую исправляет тот или иной патч.
<br>
<br>

<h3 id="def_license">Лицензионное ПО</h3>
<b>Количество карт в колоде: 8</b> <br>
<b>Защищает от:</b>
<ul>
    <li>Шифровальщик +2Ƒ</li>
    <li>Кейлоггер +2Ƒ</li>
    <li>Удаленное выполнение кода +2Ƒ</li>
    <li>Вы попали в ботнет +2Ƒ</li>
    <li>Устаревшее ПО +1Ƒ</li>
</ul><br>
Взломанное ПО, которое больше не требует лицензии, - достаточно распространенное явление. Однако настоятельно
рекомендуем задуматься: а зачем хакерам тратить свое время на то, чтобы взломать то или иное ПО, и выложить его в
открытый доступ? К сожалению, исследования показывают, что это делается чаще всего для того, чтобы навердить людям,
которые его поставят. Например, сделать их частью ботнета или следить за их действиями в сети. Безусловно, лицензии
бывают разные, есть лицензионное ПО, которое распространяется свободно. Главное - не пользоваться взломанными версиями и
непроверенными источниками.
<br>
<br>

<h3 id="def_messenger">Надежные мессенджеры</h3>
<b>Количество карт в колоде: 8</b> <br>
<b>Защищает от:</b>
<ul>
    <li>Прослушка +3Ƒ</li>
    <li>Перехват пакетов Wi-Fi +2Ƒ</li>
    <li>Блокировка доступа к ресурсам +1Ƒ</li>
</ul><br>
SMS-сообщения и телефонные звонки довольно легко перехватывать и подслушивать. Что же делать, если Вы не хотите, чтобы
Ваши разговоры и переписки попали в руки злоумышленников? Используйте те мессенджеры, которые предоставляют возможность
шифрования разговора и переписки. Выбор, кому из них доверять, непростой, однако этот вопрос стоит решить для себя,
чтобы наконец отказаться от старой телефонной связи, которая уж точно небезопасна.
<br>
Почитайте об этом подробнее в материалах Теплицы:
<br>
<a href="https://te-st.ru/2020/08/06/whatsapp/">Мессенджеры и угрозы безопасности</a>
<br>
<a href="https://te-st.ru/2015/01/26/secure-messaging-scorecard/">Какие мессенджеры на самом деле хранят ваши сообщения в безопасности?</a>
<br>
<br>

<h3 id="def_caution">Пользовательская осторожность</h3>
<b>Количество карт в колоде: 9</b> <br>
<b>Защищает от:</b>
<ul>
    <li>Посредственный фишинг +3Ƒ</li>
    <li>Подготовленный фишинг +3Ƒ</li>
    <li>Целенаправленный фишинг +3Ƒ</li>
    <li>Шифровальщик +2Ƒ</li>
    <li>Кейлоггер +2Ƒ</li>
    <li>Выполнение макросов +2Ƒ</li>
    <li>Взлом серверов и утечка паролей +1Ƒ</li>
</ul><br>
К сожалению, чем быстрее развиваются защитные средства, тем хитрее становятся злоумышленники. Социальные инженеры будут
пытаться использовать Ваши интересы, увлечения, работу и даже друзей для того, чтобы узнать о Вас как можно больше и
создать именно такое письмо, которое Вы откроете, или такую ссылку, по которой Вы перейдете. Поэтому бдительность и
аккуратность - одни из самых важных черт современного пользователя в Интернете.
<br>
<br>

<h3 id="def_https">Использование HTTPS</h3>
<b>Количество карт в колоде: 8</b> <br>
<b>Защищает от:</b>
<ul>
    <li>Прослушка +2Ƒ</li>
    <li>Перехват пакетов Wi-Fi +3Ƒ</li>
</ul><br>
Зачастую при посещении сайта мы не обращаем внимания на то, использует ли данный сайт сертификат безопасности. А ведь
это важный момент: сертификат является защитой от атак вида Человек посередине (Man-in-the-Middle, MitM), которые
позволяют злоумышленнику прочитать все наши запросы к сайту и даже подменить их.
<br>
Почитать о том, как работает HTTPS, можно в материалах Теплицы:
<br>
<a href="https://te-st.ru/2019/02/26/how-to-protect-network-https-everywhere/">Защита траффика с помощью HTTPS EveryWhere</a>
<br>
<a href="https://te-st.ru/2014/12/16/google-chrome-marking-http-as-non-secure/">Браузер Google Chrome пометит HTTP-сайты как небезопасные</a>
<br>
<a href="https://te-st.ru/2014/12/03/what-is-ssl/">Что такое SSL-сертификат, зачем он нужен и где его взять</a>
<br>
<br>

<h3 id="def_backups">Регулярные бэкапы</h3>
<b>Количество карт в колоде: 8</b> <br>
<b>Защищает от:</b>
<ul>
    <li>Устаревшее ПО +2Ƒ</li>
    <li>Шифровальщик +4Ƒ</li>
    <li>Кража ноутбука +3Ƒ</li>
    <li>Уязвимости нулевого дня +1Ƒ</li>
    <li>Катаклизмы +1Ƒ</li>
</ul><br>
К сожалению, практически каждому человеку знакома ситуация, когда он много месяцев работал над каким-то проектом и почти
его завершил, но в самый неподходящий момент с ноутбуком что-то произошло и труды потеряны. А ведь это может быть не
только случайность, но и целенаправленная атака, когда ноутбук будет украден или поврежден. Наличие своевременно
сделанных резервных копий (бэкапов), которые хранятся на отдельном носителе, может очень сильно помочь в этой ситуации.
<br>
<br>

<h3 id="def_digsig">Цифровая подпись и шифрование писем</h3>
<b>Количество карт в колоде: 8</b> <br>
<b>Защищает от:</b>
<ul>
    <li>Посредственный фишинг +2Ƒ</li>
    <li>Подготовленный фишинг +2Ƒ</li>
    <li>Целенаправленный фишинг +2Ƒ</li>
    <li>Прослушка +2Ƒ</li>
    <li>Кража ноутбука +1Ƒ</li>
</ul><br>
Когда Вы разговариваете с человеком лично, довольно легко убедиться, что перед Вами именно тот, кто Вы думаете. Гораздо
сложнее сделать это в переписке. Чтобы убедиться, что письмо отправил действительно тот, кто заявлен, а не злоумышленник,
который украл его ящик, достаточно проверить цифровую подпись письма. А в случае, если Вы не хотите, чтобы письмо попало
в чужие руки, его стоит еще и зашифровать. И тогда получателю будет достаточно знать открытый ключ, а вот посторонний
содержимое письма прочесть не сможет.
<br>
Подробнее о том, как настроить свою цифровую подпись, можно узнать из материалов Теплицы:
<br>
<a href="https://te-st.ru/reports/openpgp-webinar-materials/">Как настроить OpenPGP для электронной почты</a>
<br>


<h2 id="attacks">Карты атаки</h2>
<h3 id="attack_ransome">Шифровальщик</h3>
<b>Количество карт в колоде: 5</b> <br>
<b>Урон: 7</b> <br>
<b>От этой карты могут защитить:</b>
<ul>
    <li>Антивирус -3Ƒ</li>
    <li>Регулярные обновления -1Ƒ</li>
    <li>Лицензионное ПО -2Ƒ</li>
    <li>Пользовательская осторожность -2Ƒ</li>
    <li>Регулярные бэкапы -4Ƒ</li>
</ul><br>
Шифровальщик (вымогатель, англ. Ransomware) - разновидность компьютерного вируса, который шифрует файлы на жестком диске
Вашего устройства. Для дешифровки злоумышленник просит перевести какую-либо сумму, обычно угрожая, что если сумма не
будет переведена в кратчайшие сроки, то пользователь больше не получит доступа к своим файлам.\n Для примера
злоумышленник может продемонстрировать успешную расшифровку одного-двух файлов, однако обольщаться не стоит: зачастую,
даже заплатив требуемые деньги, пользователь не получает нужного результата.\n Чаще всего жертвами становятся
неосторожные пользователи, которые к тому же используют нелицензионное ПО и не производят своевременных обновлений.
Защитить от шифровальщика в некоторых ситуациях может антивирус, но наиболее оптимальной защитой является наличие
регулярных бэкапов. Так, например, если Ваши файлы бэкапируются в облако, то шифровальщик Вам не так уж и страшен.
<br>
<br>

<h3 id="attack_keylogger">Кейлоггер</h3>
<b>Количество карт в колоде: 4</b> <br>
<b>Урон: 5</b> <br>
<b>От этой карты могут защитить:</b>
<ul>
    <li>Антивирус -3Ƒ</li>
    <li>Лицензионное ПО -2Ƒ</li>
    <li>Пользовательская осторожность -2Ƒ</li>
</ul><br>
Кейлоггер (англ. keylogger) -- разновидность компьютерного вируса, который регистрирует и сохраняет все нажатия клавиш,
будь то данные учетных записей -- логины и пароли, или же данные банковских карт. Кейлоггеры бывают программными и
аппаратными, встречаются среди них также легитимные: такие кейлоггеры ставятся организациями на компьютеры сотрудников,
чтобы контролировать поток информации в рамках организации.\n \"Поймать\" кейлоггер довольно просто, чаще всего они
используют уязвимости в имеющемся ПО и социальную инженерию, убеждая человека поставить какое-либо ПО обманным способом.
Защитить от них может хорошая защитная система на Вашем компьютере и, разумеется, Ваша пользовательская осторожность.
<br>
<br>

<h3 id="attack_rce">Удаленное выполнение кода</h3>
<b>Количество карт в колоде: 4</b> <br>
<b>Урон: 7</b> <br>
<b>От этой карты могут защитить:</b>
<ul>
    <li>Антивирус -2Ƒ</li>
    <li>Регулярные обновления -2Ƒ</li>
    <li>Лицензионное ПО -2Ƒ</li>
</ul><br>
Удаленное выполнение кода -- это действия, которые злоумышленник может совершить на Вашем компьютере, даже не имея к
нему физического доступа. Так, например, уязвимость Eternalblue, которая легла в основу вируса WannaCry, позволяла
злоумышленнику просматривать документы, делать снимки экрана и даже снимки с веб-камеры пользователя. Важно понимать,
что если злоумышленник может выполнять код на Вашей системе, то в целом, он может сделать с ней все, что угодно. Чаще
всего удаленное выполнение кода на Вашей машине возможно из-за отсутствия обновлений или нелицензионного ПО. Хорошая
защитная система позволит не дать злоумышленнику воспользоваться уязвимостью.
<br>
<br>

<h3 id="attack_phishing">Фишинг</h3>
В игре существует три вида фишинга: посредственный, подготовленный и целенаправленный.<br>
<b>Количество карт в колоде: по 5 каждого вида</b> <br>
<b>Урон: 3, 5, 7</b> <br>
<b>От этих карт могут защитить:</b>
<ul>
    <li>Антивирус -1Ƒ</li>
    <li>Двухфакторная аутентификация -3Ƒ</li>
    <li>Пользовательская осторожность -3Ƒ</li>
    <li>Цифровая подпись и шифрование писем -2Ƒ</li>
</ul><br>
Фишинг (англ. fishing) -- особая разновидность интернет-мошенничества, целью которой является получение
идентификационных данных пользователей, таких как логины и пароли учетных записей, данные банковских карт, аккаунты
социальных сетей и многое другое. Обычно для успешного проведения фишинговой атаки злоумышленнику необходимо каким-либо
способом уговорить пользователя совершить действия: перейти по ссылке, открыть на своем ПК вредоносный документ, ввести
свои данные на постороннем сайте и т.д.\n В зависимости от того, является ли атака таргетированной или осуществляется с
целью покрыть как можно большую часть пользователей, злоумышленнику требуется разное время на подготовку и придумывание
убедительного аргумента для пользователя в пользу того, чтобы сделать необходимое злоумышленнику. Так, например, во
время эпидемии COVID-19 было зафиксировано большое количество фишинговых атак, которые якобы раскрывали информацию о
том, как получить бесплатные лекарства или какие народные средства помогают в борьбе с вирусом. Многие из них
осуществлялись от имени министерств здравоохранения или других уполномоченных органов. Но важно понимать, что
злоумышленник может представиться кем угодно: не только сотрудником министерства, но и Вашим другом, коллегой или
родственником. В Игре фишинг разделен на три класса: посредственный, подготовленный и целенаправленный. Важно понимать,
что в реальности этих классов может быть выявлено гораздо больше: злоумышленник может позвонить Вам с подмененного
номера Вашего родственника или даже отправить цветы с вредоносной флэшкой в комплекте. По-настоящему защитить может, к
примеру, двухфакторная аутентификация, которая просто не позволит злоумышленнику, даже получившему пароль, получить
доступ к аккаунту. В ряде случаев антивирусы могут распознать ресурс, к которому Вы пытаетесь получить доступ, как
фишинговый, и не позволить Вам ввести на нем свои данные. Цифровая подпись письма позволит убедиться, что вы
действительно общаетесь с знакомым Вам человеком, а пользовательская осторожность -- не сделать глупость и не открыть
файл, если Вы не знаете его автора и не уверены полностью в безопасности.
<br>
Материалы теплицы, которые позволят Вам больше узнать о социальной инженерии:
<br>
<a href="https://te-st.ru/2020/05/22/cyberthreats-and-pandemic/">Социальная инженерия во время пандемии</a>
<br>
<a href="https://te-st.ru/2020/05/20/pandemic-scams/">Способы мошенничества во время пандемии</a>
<br>
<a href="https://te-st.ru/2018/05/31/online-security-gaps-holes-carelessness/">Безопасность онлайн</a>
<br>
<a href="https://te-st.ru/entries/virustotal/">Virustotal - сервис проверки фишинговых ссылок</a>

<br>
<br>

<h3 id="attack_wiretapping">Прослушка</h3>
<b>Количество карт в колоде: 4</b> <br>
<b>Урон: 4</b> <br>
<b>От этой карты могут защитить:</b>
<ul>
    <li>Надежные мессенджеры -3Ƒ</li>
    <li>Использование HTTPS -2Ƒ</li>
    <li>Цифровая подпись и шифрование писем -2Ƒ</li>
</ul><br>
Прослушка бывает разная. Обычно под прослушкой понимают ситуацию, когда злоумышленник может прослушать телефонные
разговоры. Однако в общем случае этот термин чуть шире -- подслушивать, а точнее, посматривать, можно, например, за
Вашими запросами в Интернете.\n Чтобы несколько обезопасить свои звонки, крайне нежелательно пользоваться обычной
телефонной связью: мессенджеры, которые поддерживают звонки, чаще всего позволяют их же шифровать, и в этом случае
прослушать их гораздо сложнее. А вот чтобы защититься в интернете, очень важно следить за тем, чтобы сайты, которые Вы
посещаете, имели сертификат безопасности и соединение с ними шло по протоколу HTTPS. Что же касается электронной почты
-- цифровая подпись и шифрование писем позволят избежать вторжения посторонних людей и атак типа Man-in-the-Middle, MitM.
<br>
<br>

<h3 id="attack_wi-fi">Перехват пакетов Wi-Fi</h3>
<b>Количество карт в колоде: 4</b> <br>
<b>Урон: 4</b> <br>
<b>От этой карты могут защитить:</b>
<ul>
    <li>Использование VPN -3Ƒ</li>
    <li>Надежные мессенджеры -2Ƒ</li>
    <li>Использование HTTPS -3Ƒ</li>
</ul><br>
Общественные сети Wi-Fi представляют собой большую опасность, и вот почему. Подключившись с Вами к одной Wi-Fi точке,
другой человек может \"прочесть\" запросы, которые Вы отправляете со своего браузера. Или еще хуже -- он может
внедриться в этот трафик. Если речь идет о неизвестной и неконтролируемой Вами точке в гостинице или в аэропорту, то
важно понимать, что в этой сети кроме Вас может быть кто угодно. Кроме того, зная, к каким сетям Вы подключались,
злоумышленник может легко подделать точку доступа и Ваше устройство может подключиться к ней автоматически. И снова
помочь защититься могут отчасти надежные соединения (HTTPS), качественные мессенджеры, поддерживающие шифрование, а
также VPN, который позволяет \"обернуть\" Ваш трафик безопасным способом.
<br>
<br>

<h3 id="attack_macro">Выполнение макросов</h3>
<b>Количество карт в колоде: 4</b> <br>
<b>Урон: 4</b> <br>
<b>От этой карты могут защитить:</b>
<ul>
    <li>Антивирус -2Ƒ</li>
    <li>Пользовательская осторожность -2Ƒ</li>
</ul><br>
Выполнение макросов по умолчанию запрещено в своерменных лицензионных офисных пакетах. И это неудивительно: по сути
макросы представляют собой программный код, и разрешать их выполнение - означает ставить под угрозу Ваш ПК. Однако очень
часто пользователи это ограничение снимают, чем активно пользуются злоумышленники. Лучше быть осторожным пользователем,
который не нарушает рекомендаций безопасности, а также положиться на хорошую защитную систему.
<br>
<br>

<h3 id="attack_bruteforce">Ваш пароль взломали перебором</h3>
<b>Количество карт в колоде: 5</b> <br>
<b>Урон: 4</b> <br>
<b>От этой карты могут защитить:</b>
<ul>
    <li>Двухфакторная аутентификация -2Ƒ</li>
    <li>Сложные пароли -3Ƒ</li>
</ul><br>
Взлом паролей пользователей на разных ресурсах очень часто происходит методом перебора. Злоумышленник выбирает словарь
паролей, которые потенциально могли бы подойти на его взгляд, и поочередно проверяет каждый из них. К сожалению,
обезопасить Вас от таких атак не могут владельцы сайтов: злоумышленник ведь может менять IP адрес и другие признаки, по
которым его можно вычислить. К тому же, очень часто пользователи ставят одинаковые пароли на разных сайтах, а значит,
если на одном из сайтов произойдет утечка, то и на всех остальных пользователь будет под угрозой. К тому же, зачастую
злоумышленнику очень просто угадать пароли, связанные с именами родственников, датами рождения, адресами и какой-либо
другой личной информацией. Защитить от таких атак поможет использование сложных непредсказуемых, а самое главное -
разных паролей на всех сайтах, а также двухфакторная аутентификация там, где это возможно.
<br>
Но если Вы хотите узнать, как же запоминать сложные пароли, то советует ознакомиться с материалами Теплицы на этот счет:
<br>
<a href="https://te-st.ru/2020/06/29/bitwarden/">Bitwarden</a>
<br>
<a href="https://te-st.ru/2016/09/01/keepass-screencast/">KeePass</a>
<br>
<a href="https://te-st.ru/entries/master-password/">MasterPassword</a>
<br>
<a href="https://te-st.ru/2015/08/04/how-to-make-secure-password-screencast/">Как создать безопасный пароль?</a>
<br>
<br>

<h3 id="attack_outdated">Устаревшее ПО</h3>
<b>Количество карт в колоде: 4</b> <br>
<b>Урон: 4</b> <br>
<b>От этой карты могут защитить:</b>
<ul>
    <li>Регулярные обновления -3Ƒ</li>
    <li>Лицензионное ПО -1Ƒ</li>
    <li>Регулярные бэкапы -2Ƒ</li>
</ul><br>
Атаки через уязвимости в устаревшем ПО наиболее страшны тем, что что никто не может угадать момент, когда они
произойдут. И если какая-либо программа выдает уведомление о том, что ей необходимо обновиться, лучше делать это
незамедлительно. Довольно часто такие обновления устраняют ошибки безопасности, которые могут привести, например, к
удаленному выполнению кода на Вашем ПК. Поэтому настоятельно рекомендуется своервеменно ставить все необходимые
обновления, следить за созданием резервных копий и использовать только лицензионное ПО, которое уж точно напомнит о
необходимости обновления своевременно.
<br>
<br>

<h3 id="attack_botnet">Вы попали в ботнет</h3>
<b>Количество карт в колоде: 4</b> <br>
<b>Урон: 5</b> <br>
<b>От этой карты могут защитить:</b>
<ul>
    <li>Антивирус -2Ƒ</li>
    <li>Лицензионное ПО -2Ƒ</li>
</ul><br>
Если Вы попали в ботнет, есть риск, что Вы даже не узнаете об этом. Ботнет - это сеть зараженных компьютеров, которая
обычно управляется одним человеком -- хакером, которого еще называют ботоводом. Зараженные компьютеры чаще всего
используются для распределенных атак на чужие ресурсы (т.н. DDoS атаки). Однако, если Вы используете лицензионное ПО и
надежную защитную систему, то бояться, скорее всего, нечего.



<h2 id="accidents">Карты случайности</h2>

<h3 id="accident_0day">Уязвимости нулевого дня</h3>
<b>Количество карт в колоде: 3</b> <br>
<b>Урон: 6</b> <br>
<b>От этой карты могут защитить:</b>
<ul>
    <li>Регулярные обновления -2Ƒ</li>
    <li>Регулярные бэкапы -1Ƒ</li>
</ul><br>
Хакеры уже знают об этой ошибке в ПО, а вот его производители о ней еще не догадываются...
<br>
<br>

<h3 id="accident_leak">Взлом серверов и утечка паролей</h3>
<b>Количество карт в колоде: 3</b> <br>
<b>Урон: 5</b> <br>
<b>От этой карты могут защитить:</b>
<ul>
    <li>Двухфакторная аутентификация -2Ƒ</li>
    <li>Пользовательская осторожность -1Ƒ</li>
</ul><br>
Увы, не бывает абсолютно надежных сайтов и приложений. И если сайт был взломан, то можно с уверенностью сказать, что
информация о его пользователях уже где-то продается.
<br>
<br>

<h3 id="accident_backdoors">Железные бэкдоры</h3>
<b>Количество карт в колоде: 3</b> <br>
<b>Урон: 3</b> <br>
<b>От этой карты, к сожалению, ничего не может защитить</b>
<br>
Никто не может защитить Вас от недобросовестных производителей железа, если они захотят собирать о Вас информацию или
оставить для себя потайную лазейку в Ваш компьютер. Такое случается нечасто, но никто не может дать гарантий, что этого
не произошло с Вашим компьютером.
<br>
<br>

<h3 id="accident_cataclysm">Катаклизмы</h3>
<b>Количество карт в колоде: 3</b> <br>
<b>Урон: 4</b> <br>
<b>От этой карты могут защитить:</b>
<ul>
    <li>Регулярные бэкапы -1Ƒ</li>
</ul><br>
Пожары, наводнения, короткие замыкания. Чего только не случается в этом мире. И очень многое из этого может навредить
Вашей информации.
<br>
<br>

<h3 id="accident_steal">Кража ноутбука</h3>
<b>Количество карт в колоде: 3</b> <br>
<b>Урон: 5</b> <br>
<b>От этой карты могут защитить:</b>
<ul>
    <li>Двухфакторная аутентификация -2Ƒ</li>
    <li>Полнодисковое шифрование -2Ƒ</li>
    <li>Регулярные бэкапы -3Ƒ</li>
    <li>Цифровая подпись и шифрование писем -1Ƒ</li>
</ul><br>
21 век на дворе. А от краж никуда не деться. Да и кражи бывают разные.
<br>
<br>

<h3 id="accident_blocking">Блокировка доступа к ресурсам</h3>
<b>Количество карт в колоде: 3</b> <br>
<b>Урон: 3</b> <br>
<b>От этой карты могут защитить:</b>
<ul>
    <li>Использование VPN -2Ƒ</li>
    <li>Надежные мессенджеры -1Ƒ</li>
</ul><br>
У блокировок могут быть разные причины. Да и узнать, почему тот или иной ресурс заблокирован Вашим провайдером, бывает
очень сложно.
<br>
<br>

<h3 id="accident_covid">COVID-19</h3>
<b>Количество карт в колоде: 3</b> <br>
<b>Урон: 0</b>. Эта карта делает больно по-другому.  <br>
<b>От этой карты могут защитить: ничто.</b> <br>
От коронавируса защитить не может ничто. Отдайте половину своих денег соседу.
<br>
<br>

{% endblock %}