<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="../static/vue.min.js"></script>
    <script src="{{ url_for('static', filename='common.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="instruction.css") }}">
{% block extrahead %}{% endblock %}
{% block content %}
    <meta charset="UTF-8">

    <div id="toc_container">
    <p class="toc_title">Содержание</p>
    <ul class="toc_list">
        <li><a href="glossary">Подробнее о картах</a></li>
        <li><a href="#settings">1. Создание игры. Настройки.</a>
          <ul>
            <li><a href="#start_falsics">1.1. Фолзики</a></li>
            <li><a href="#start_hand">1.2. Карты в начале игры</a></li>
            <li><a href="#start_accident">1.3. Вероятность случайности</a></li>
            <li><a href="#start_game_end">1.4. Условия окончания игры</a></li>
            <li><a href="#start_defence_cards">1.5. Правило выдачи защитных карт в новом раунде</a></li>
            <li><a href="#start_hardcore">1.6. Сложный режим</a></li>
            <li><a href="#start_others">1.7. Другие настройки</a></li>
          </ul>
        </li>
        <li><a href="#gamer">2. Регистрация пользователя и начало игры</a></li>
        <li><a href="#cards">3. Карты</a></li>
          <ul>
            <li><a href="#cards_offence">3.1. Карты случайностей</a></li>
            <li><a href="#cards_defence">3.2. Карты атаки</a></li>
            <li><a href="#cards_accident">3.3. Карты защиты</a></li>
          </ul>
        <li><a href="#battle">4. Битва</a></li>
          <ul>
            <li><a href="#battle_accident">4.1. Вы защищаетесь от случайности</a></li>
            <li><a href="#battle_attack">4.2. Вы атакуете</a></li>
            <li><a href="#battle_defence">4.3. Вызащищаетесь от другого игрока</a></li>
          </ul>
    </ul>
    </div>

Обучающая игра-тренажер по цифровой безопасности для пользователей, опытных и не очень. Каждый человек сегодня, так или
иначе, вовлечен в цифровой мир: мы работаем на ноутбуках, играем на планшетах, а наш телефон знает о нас порой больше,
чем мы можем представить. Как обезопасить себя в таком бешеном ритме цифровой жизни?
<br>
<br>
<br>
Игра напомнит Вам основные правила цифровой гигиены, расскажет, с какими атаками и угрозами сталкивается человек в
информационной среде, а также научит, как правильно себя защитить. Поскольку информация - это актив, у каждого игрока в
начале игры есть некоторая сумма игровой валюты, но успешная атака со стороны может привести к ее потере. Постарайтесь
не разориться, отбиваясь от атак коллег по игре и несчастных случаев.

<h2 id="settings">Создание игры. Настройки</h2>
На главной странице игры Вы видите поле Имя игрока и две вкладки: Присоединиться к игре и Создать игру. Один из
участников игры является администратором. Он должен создать игру, кликнув по соответствующей вкладке. Подробности
настроек новой игры расписаны ниже. После этого он будет перенаправлен на вкладку \waitroom, то есть попадает в комнату
ожидания. Здесь он может получить имя игры и ссылку на нее. Администратор отправляет ссылку и/или название игры всем
остальным участникам, которые могут присоединиться к игре, в соответсвии с правилами из раздела, посвященного
<a href="#gamer">началу игры</a>.<br>
Однако администратор игры должен сформировать правила, для этого ему следует ознакомиться с возможными настройками игры,
которые описаны далее.
    <h3 id="start_falsics">Фолзики</h3>
Фолзик - игровая валюта ЛЧБ. Как и в реальной жизни, информация стоит денег и любой инцидент информационной безопасности,
который происходит с Вами, может привести к определенным финансовым потерям. Администратор игры при ее создании задает
нужное количество фолзиков, и каждый игрок получит именно эту сумму в начале игры. По умолчанию игра выдает каждому 100 фолзиков.
    <h3 id="start_hand">Карты в начале игры</h3>
При настройке игры Администратор также принимает решение о том, cколько карт защиты и нападения будет в руке у каждого
каждого игрока. Чем больше карт, тем выше их разнообразие и проще играть. Однако если вы чувствуете, что все игроки
очень сильны и готовы рискнуть, то можете выдать минимальную руку. Однако стоит ли рисковать информацией? в современном
мире это плохая затея, поэтому по умолчанию игра выдает 5 карт защиты и 2 карты нападения.
    <h3 id="start_accident">Вероятность случайности</h3>
К сожалению, нанести вред Вашей информации и информационным системам могут не только злоумышленники, но и события
совсем другой природы, такие как катаклизмы, ограбления, пандемии и многое другое. Да и сама техника имеет свойство
ломаться. Администратор игры имеет уникальную возможность почувствовать себя Богом и принять решение, какова вероятность
подобных случайных событий в вашей игре. Нулевая вероятность означает, что ничего неожиданного происходить не будет
вообще, 100% — что в начале каждого Вашего хода сначала придется обороняться от случайных событий, которые могут иметь
 самый непредсказуемый эффект. Промежуточные значения зададут вероятность выпадения карты случайности в начале каждого
хода.
    <h3 id="start_game_end">Условия окончания игры</h3>
Существует четыре варианта окончания игры. И при создании необходимо выбрать один из них. Первый вариант - самый простой, когда
в игре "в живых" остался лишь один игрок. Это означает, что все остальные уже разорились.
Второй вариант - остановить игру, как только разорился самый первый игрок. Третий - зафиксировать число раундов, которые
Вы готовы сыграть. И последний вариант - исчерпание колоды. Кстати, колода состоит из 108 карт защиты, 53 карты атаки и
21 карты случайности (если стоит нулевая вероятность, то карты случайности не участвуют в игре).
В последних трех вариантах окончания игры победителем становится тот игрок, чьи баллы в конце игры максимальны. В первом
же случае побеждает единственный выживший игрок.
    <h3 id="start_defence_cards">Правило выдачи защитных карт в новом раунде</h3>
После каждого раунда количество защитных карт на руках игрока может сильно измениться. Причем может так случиться, что у
одного игрока на руках совсем не осталось защитных карт, а другой не смог сыграть ни одной защиты. Однако решить, как
будут выданы карты в начале нового раунда тоже нужно в самом начале игры. При создании доступны следующие опции выдачи
карт в начале каждого раунда, за исключением первого:
<ul>
    <li>выдавать каждый раз фиксированное число карт (здесь же задается их количество),</li>
    <li>выдавать каждый раз фиксированное число карт, которое на 1 меньше, чем количество игроков,</li>
    <li>поддерживать количество карт на руках одинаковым во всех раундах, то есть додавать каждому игроку ровно столько
    карт, сколько он сыграл в прошлом раунде,</li>
    <li>выдавать количество карт, которое соответствует среднему арифметическому количества потраченных в прошлом раунде
    всеми игроками,</li>
    <li>выдавать количество карт, равное сумме того, что у игрока осталось на руках после предыдущего раунда плюс
    некоторая фиксированная величина.</li>
</ul>
Каждый из этих подходов применим в разных ситуациях. Так, например, пятый подход позволит хорошо пополнить руку тем,
кому пришлось потратить много игровой валюты в предыдущем раунде. А третий подход позволит поддерживать всегда
одинаковые шансы на победу у всех игроков, не подбадривая проигрывающих. Выбирать вам, ведь от этого зависит сложность
игры.

    <h3 id="start_hardcore">Сложный режим</h3>
Если Вы чувствуете, что уже освоились в игре, советуем попробовать сложный режим игры. В этом режиме все будет так же,
как и в обычной игре, но у Вас станет больше права на ошибку! Что мы имеем ввиду: если в режиме обычной игры
пользователь постоянно получает подсказки о том, какие карты он может сейчас играть, то в сложном режиме он остается без
подсказок. Более того, теперь он может походить неправильной картой, что приведет к напрасной трате фолзиков. Будьте
осторожны.

    <h3 id="start_others">Другие настройки</h3>
Кроме сказанного выше, администратор и создатель игры принимает еще одно решение: на кого могут нападать игроки. По
умолчанию каждый следующий ход делается против виртуального "соседа справа", назначает которого система. Однако можно
разрешить игрокам самим принимать решение о том, на кого нападать. И тогда игроки смогут объединяться в коалиции друг
против друга, но мы вам этого не говорили.<br>
Последняя настройка, которая есть на этой странице, определяет, кто может начать игру. По умолчанию - только ее
создатель, при этом после задания настроек в комнате ожидания он видит список всех присоединившихся участников.
Достаточно дождаться момент, когда вся ваша команда в сборе, и начать играть. Но переложить эту ответственность можно и
на любого другого участника, всего лишь сняв галочку в настройке игры.
Кроме того, помните, что если соединение администратора игры разорвется, то администратором будет назначен любой другой
игрок, статус которого в данный момент - онлайн.
<h2 id="gamer">Регистрация пользователя и начало игры</h2>
Получив ссылку от создателя игры, любой участник может воспользоваться разделом "Присоединиться к игре". В случае
перехода по ссылке от создателя, поле "Уникальный код игры" заполнится автоматически. Но Вы всегда можете ввести
состоящее из шести букв название самостоятельно. Оно позволяет идентифицировать вашу игру.
После того, как все пользователи зарегистрируются, они попадают в комнату ожидания. Важно дождаться всех, и когда все
участники в сборе, администратор игры может нажать кнопку "поехали!". С этого момента новый игрок присоединиться к
запущенной игре уже не сможет.

<h2 id="cards">Карты</h2>
В игре присутствует три типа карт, но только два из них могут быть у Вас на руках. Далее в этом разделе описывается
каждый из типов и то, какими свойствами эти карты обладают. Сами карты и то, с какими понятиями информационной
безопасности они связаны, подробно описано в разделе <a href="glossary">глоссарий</a>.
    <h3 id="cards_offence">Карты случайностей</h3>
Карты случайностей, катастроф или катаклизмов - как их ни назовите, но встретиться с такими событиями в реальной жизни
Вам бы точно не захотелось. Они описывают не только распространенные неприятности, которые могут произойти с носителями
информации или с целой информационной системой, но и природные явления, которые человек не в силах предугадать или
контролировать. Такая карта играется в начале каждого раунда в соответствии с выставленной
<a href="#start_accident"> вероятностью</a> ее выпадения. У такой карты есть уровень атаки, который говорит о том,
сколько финансового урона она нанесет, если Вы не сможете отбиться. Но самое печальное заключается в том, что не для
всех карт случайностей вообще существуют защитные карты. От такой карты, если она выпала в начале раунда, отбиваются
абсолютно все игроки. В игре такие карты имеют синий цвет.
    <h3 id="cards_defence">Карты атаки</h3>
Карта атаки играется одним игроком против другого и окрашена в красный цвет. У каждой атаки есть соответствующий ей
урон, который будет нанесен атакуемому игроку, если он не сможет отбиться, урон записан на самой карте. Но против каждой
атаки есть несколько карт защиты, которые могут быть сыграны, если у атакуемого они есть на руках. Список защит указан
на каждой карте, поэтому атакуя, Вы можете выстроить свою стратегию так, чтобы нанести противнику максимальный урон.
Например, если точно знаете, что у него на руках нет необходимой защиты.
    <h3 id="cards_accident">Карты защиты</h3>
Карты защиты отражают основные и наиболее распространенные защитные механизмы в мире информационной безопасности. На
каждой из них указано, сколько баллов защиты и от какой карты атаки или случайности они дают. Но, как и в жизни, эти
замечательные карты не всегда могут Вас защитить. В частности, если на руках недостаточно защитных карт или вообще нет
подходящих, то придется платить деньгами.
<h2 id="battle">Битва</h2>
Каждый раунд заключается в проведении N + 1 битвы, где N — количество игроков. Первая битва происходит  в том случае,
если выпала карта случайности в начале раунда. В таком случае от этой карты отбиваются все и каждому она наносит
индивидуальный урон.<br>
После того, как сыграна карта случайности, играются атаки участников друг на друга, их будет ровно N штук, если текущий
раунд начинали N "живых" участников. Заметим, что компания могла запланировать атаку на другую компанию еще до того, как
разорилась, поэтому даже "погибший" в текущем раунде игрок еще может атаковать. А вот начиная со следуюшего раунда у
него такой возможности не будет.
<br>
Отслеживать события в игре можно по строке, которая находится прямо над Вашей рукой: там указано, кто сейчас ходит и
против кого.
    <h3 id="battle_accident">Вы защищаетесь от случайности</h3>
Итак, Вы начали игру и первой увидели на игровом столе карту синего цвета. Это означает, что выпала карта случайности
и сейчас все участники будут отбиваться от нее. Обратите внимание, что в этот момент подсветятся зеленым цветом только
те карты, которые могут помочь отбиться от этой случайности. При этом нужно посчитать, сколько баллов Вам необходимо,
чтобы защититься. Давайте посмотрим на примере.
Предположим, что выпала карта случайности "Взлом серверов и утечка паролей" с уровнем урона в 5 баллов. При этом у вас
на руках есть защитные карты "Пользовательская осторожность", которая дает 1 балл защиты от этой случайности, и карта
"Двухфакторная аутентификация", которая дает 2 балла защиты. Эти две карты дают Вам суммарно три балла защиты. Значит,
разница 5 - (2 + 1) = 2, будет покрыта из Ваших финансов, то есть с Вашего счета спишется 2 фолзика. Для того, чтобы
произвести ход, необходимо выбрать последовательно все карты защиты, которые Вы хотите сыграть, и они сразу отобразятся
на игровом столе. Обратите внимание на кнопку "Закончить и заплатить", которая появляется в то время, когда Вы
защищаетесь. На ней указано, сколько фолзиков Вам придется заплатить, если вы завершите ход прямо сейчас. Это позволяет
контролировать количество карт, которыми Вы отбиваетесь, в случае, если подходящих много. В конце хода обязательно нужно
ее нажать.
<br>
В случае, если Вы играете в сложном режиме, то подсветки карт не будет. Однако каждая карта, которая была кликнута,
считается сыгранной, поэтому нужно быть крайне осторожным и тщательно выбирать карты, ведь если Вы сыграете неподходящую
карту, то Ваши защитные ресурсы ослабнут, а в зачет эта карта все равно не пойдет.
    <h3 id="battle_attack">Вы атакуете</h3>
Когда Вы выступаете в качестве атакующего, то подходящие карты в вашей руке будут подсвечены красным цветом, и в начале
хода Вам нужно будет выбрать пользователя, против которого будет проведена атака. Кстати, пользователи, которых можно
атаковать (они "живы" и активны в игре), будут подсвечены. Для того, чтобы выбрать жертву, просто кликните на нужного
пользователя в списке игроков в левой части страницы. Если выбор прошел успешно, его имя будет подсвечено голубым цветом.
После этого выберите одну карту нападения из доступных в руке, и она автоматически появится на игровом столе.
А теперь ждите реакции Вашего оппонента.
    <h3 id="battle_defence">Вы защищаетесь от другого игрока</h3>
Защита от другого нападающего весьма похожа на защиту от карты случайности. Увидев, что на Вас нападают, и ознакомившись
с картой нападения, Вы можете выбрать из доступных в руке защитных карт те, которые позволят Вам отбиться. Если же
никакие защитные карты недоступны, то нам очень жаль, но после нажатия кнопки "Завершить и заплатить" у Вас со счета
будут списаны фолзики, по сумме покрывающие размер урона карты. Их количество будет указано на этой кнопке.

<br>
После того, как каждый игрок походил, раунд завершается. В начале нового раунда, игроки получают карты в соответствии с
тем, как это было <a href="#start_defence_cards">настроено</a> в начале игры.
{% endblock %}