<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="../static/vue.min.js"></script>
    <script src="../static/socket.io.js"></script>
    <script src="{{ url_for('static', filename='common.js') }}"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    {% block extrahead %}{% endblock %}
    <script>
        //        var socket = io();


    </script>
    <meta charset="UTF-8">
    <meta property="og:url"         content="https://false-security.te-st.ru/" />
    <meta property="og:title"       content="Ложное чувство безопасности" />
    <meta property="og:description" content="Сколько Вы сможете прожить в суровом мире кибератак?" />
    <meta property="og:image"       content="https://false-security.te-st.ru/static/gameplay.jpg" />
    <meta property="og:type"        content="website" />
    <title>{% block title %}Ложное чувство безопасности{% endblock %}</title>
</head>
<body>
<div id="snackbar"></div>
<div id="disconnected">
    <div class="center_warn">К сожалению, отсутствует подключение к серверу. <br/>Попробуйте подождать или обновить страницу.
    </div>
</div>
<nav class="navbar navbar-default">
    <div class="container">

        <div class="my-navbar">
            <div class="col-md-4">
                Ложное чувство безопасности (<a href="instruction" target="_blank">правила</a>)
            </div>
            {%- if g.current_player -%}
                <div class="game-name" id="layout-app">Игра
                    <gamelink :link="link" display_link="{{ g.current_game.model.uniqueCode }}"></gamelink>
                    Раунд <span id="round-no">0</span>
                </div>
                <form method="post" action="/logout">
                    {{ form.csrf_token }}
                    <div class="col-md-4">
                        Вы вошли как <span class="self-name">{{ g.current_player.model.name }}</span>
                        <span>
                                <button type="submit" value="exit" name="action">Выход</button>
                            </span>
                    </div>
                </form>
                <script>
                    const layout_app = new Vue({
                        el: '#layout-app',
                        data: {
                            link: "{{ url_for('gameselect.index') + "?k=" + g.current_game.model.uniqueCode }}"
                        },
                        delimiters: ['[[', ']]'],
                        methods: {}
                    });
                </script>
            {%- endif %}
        </div>
    </div>
</nav>

<div class="content">
    {% block content %}{% endblock %}
</div>
<div class="footer footer-height">
    Разработано в 2020. Nuff said.
</div>
<div class="footer-height">&nbsp;</div>
</body>
</html>
